<div class="container">
  <h1>Animations</h1>
  <div class="btn-group">
    <button class="btn btn-primary" (click)="onAnimate()">Animate!</button>
    <button class="btn btn-primary" (click)="onShrink()">Shrink!</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" #inputRef class="form-control" />
      </div>
      <button class="btn btn-primary" (click)="onAdd()">Add</button>
    </div>
    <br />
    <hr />
    <div></div>
  </div>
  <hr />
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of list">{{ item }}</li>
  </ul>
  <br />
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of list">{{ item }}</li>
  </ul>
</div>
